body {
    background: radial-gradient(circle, hwb(221 0% 64%) 35%, rgb(106, 150, 255) 100%);
    background-size: 100vw 100vh;
    font-family: monospace;
    padding: 1.5vw;
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.top {
    display: block;
}

.sidepanel {
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4vw;
    transition: 0.5s;
}
  
.sidepanel a {
    padding: 0.5vw;
    text-decoration: none;
    font-size: 2.5vw;
    color: rgb(0, 0, 255);
    display: block;
    transform: translate(20px, 0);
    transition: 0.5s;
}

.sidepanel a:hover {
    color: #ffffff;
}

.openbtn {
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    border: none;
    z-index: 1000;
    position: absolute;
    transition: 0.5s;
}

.openbtn:hover{
    color: rgb(0, 0, 255);
}

.openbtn.open{
    position: absolute;
    text-align: center;
    transform: translate(20vw, 0) rotate(90deg);
}

.sidepanel.open{
    width: 20vw;
}

.middle{
    margin-top: 5vw;
    justify-content: center;
}

.aboutme{
    color: rgb(255, 255, 255);
    font-size: 2vw;
    display: flex;
    margin: 0 1vw 1vw 1vw;
}

.aboutme img{
    width: 20vw;
    height: auto;
    margin-right: 2vw;
}

.year {
    display: block;
    background-color: #ffffff;
    color: rgb(0, 0, 255);
    border: none;
    margin-left: 1vw;
    padding: 2vh 26.3vw 2vh 26.3vw;
    text-align: center;
    font-family: monospace;
    font-size: 4vw;
    text-decoration: none;
    margin-top: 1vw;
    transition: 0.5s;
}

.year:hover {
    color: #ffffff;
}

.yearcontent{
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    color: rgb(0, 0, 255);
    margin-left: 1vw;
    margin-right: 0.6vw;
    font-size: 1.5vw;
    overflow: hidden;
    background-color: #ffffff81;
    top: 0;
    transition: opacity 0.5s ease;
}

.collapsible {
    display: block;
    background-color: #ffffff;
    color: rgb(0, 0, 255);
    border: none;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 2vh 30vw 2vh 30vw;
    text-align: center;
    font-family: monospace;
    font-size: 2vw;
    text-decoration: none;
    margin-top: 1vw;
    transition: 0.5s;
}
  
.collapsible:hover {
    color: #ffffff;
}

button.active{
    background-color: #ffffff81;
}

.content1{
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    color: rgb(0, 0, 255);
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.5vw;
    overflow: hidden;
    background-color: #ffffff81;
    top: 0;
    transition: opacity 0.5s ease;
    text-align: end;
}

.content1 img{
    width: 20vw;
    height: auto;
    float: right;
    margin: 0vw 0 0 1.5vw;
}

.content1 video{
    width: 86vw;
    height: auto;
    float: right;
    margin: 1.5vw 0 0 1.5vw;
}

.content2{
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    color: rgb(0, 0, 255);
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.5vw;
    overflow: hidden;
    background-color: #ffffff81;
    top: 0;
    transition: opacity 0.5s ease;
}

.content2 img{
    width: 20vw;
    height: auto;
    float: left;
    margin: 1.5vw 1.5vw 0 0;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: -2vw;
    margin-left: -1vw;
  }

.column {
    /* flex: 26%; */
    max-width: 22vw;
    padding: 1vw;
}

.column img {
    /* vertical-align: middle; */
    width: 100%;
    padding: 1vw;
}

.square{
    position: relative;
    width: 12vw;
    height: 20vh;
    background-color: #ffffff;
    top: 0vh;
    left: 20vw;
    border-radius: 1vw;
}
.circle{
    position: relative;
    width: 12vw;
    height: 20vh;
    background-color: #ffffff;
    top: 20vh;
    left: 40vw;
    border-radius: 5vw;
}

.steaming-coffee {
    position: fixed;
}

.cup{
    position: relative;
    width: 12vw;
    height: 20vh;
    background-color: #ffffff;
    top: 20vh;
    left: 60vw;
    border-radius: 0 0 20px 20px;
}

.cup:before {
    content:"";
    position: absolute;
    width: 3vw;
    height: 3vw;
    border: 1.5vw solid #ffffff;
    border-radius:50%;
    top: 3.5vh;
    left: 9vw;
}

.test {
    position: relative;
    width: 15vw;
    height: 10vh;
    overflow: hidden;
    opacity:0.5;
    top: -12vh;
    left: 61.5vw;
}

@keyframes steam {
    0% {transform: translateY(100px);}
    100% {transform: translateY(7px);}
}

.steam {
    position: absolute;
    top:100px;
    animation: steam 1s linear infinite;
}

.steam-2 {
    position: absolute;
    top:100px;
    left:50px;
    animation: steam 1s linear infinite;
}

.steam-3 {
    position: absolute;
    top:100px;
    left:100px;
    animation: steam 1s linear infinite;
}

.one {
    position: absolute;
}

.two {
    position: absolute;
}

.steam:before, .one:before, .two:before, .steam-2:before, .steam-3:before {
    content:"";
    position: absolute;
    border-left: 7px solid white;
    border-top: 7px solid white;
    width:30px;
    height: 30px;
    border-top-left-radius:100%;
    transform: rotate(-40deg);
}

.one:before {
    top:-93px;
    left:0;
}

.two:before {
    top:-185px;
    left:1.2px;
}

.steam:after, .one:after, .two:after, .steam-2:after, .steam-3:after {
    content:"";
    position: absolute;
    border-right: 7px solid white;
    border-top: 7px solid white;
    width:30px;
    height: 30px;
    border-top-right-radius:100%;
    transform: rotate(40deg);
}

.steam:after {
    top:-46.5px;
    left:4px;
}

.one:after {
    top: -139.5px;
    left:4px;
}

.two:after {
    top:-231px;
    left:4.7px;
}

.steam-2:after {
    top:-46.5px;
    left:4.5px;
}

.steam-3:after {
    top:-46.5px;
    left:4.5px;
}

.links{
    text-align: center;
    margin-top: 2vw;
}

.links a{
    color: rgb(255, 255, 255);
    font-size: 2vw;
    text-decoration: none;
    transition: 0.5s;
    padding: 4vw;
}

.links a:hover{
    color: rgb(0, 0, 255);
}


@media print{
    .openbtn{
        display: none;
    }
    .middle{
        margin-top: -1vw;
    }
    .column{
        padding-top: 0vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    .row {
        margin-top: -1vw;
        margin-left: -2vw;
    }
    .year{
        padding: 2vh 20.75vw 2vh 20.75vw;
        font-size: 5vw;
    }
    .yearcontent{
        margin-right: 0vw;
    }
    .content1 video{
        width: 84vw;
    }
    .square{
        width: 15vw;
    }
    .circle{
        width: 15vw;
    }
    .cup{
        width: 15vw;
    }
    .cup::before{
        left: 12vw;
        top:4vw;
    }
    .links{
        margin-left: 2vw;
    }
}